footer {
  padding: 30px 0;
  background-color: $grafite;
  color: white;

  .social-links {
    a {
      font-size: 1.5rem;
      color: white;
      margin-left: 15px;
      @include transition;
      display: inline-block;

      &:hover {
        color: $amarelo-claro;
        transform: translateY(-3px);
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  p {
    font-size: 0.85rem;
    opacity: 0.8;
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    padding: 40px 0;
    
    .social-links {
      margin-top: 10px;
      a {
        margin: 0 10px;
      }
    }

    p {
      margin: 15px 0;
    }
  }
}
